.d-flex{
    display: flex !important;
}

.justify-content-between{
    justify-content: space-between !important;
}

.w-100{
    width: 100%;
}

.m-t-10{
    margin-top: 10%;
}
/****************************HEADER*********************************/

.App-header{
    margin-top: -2%;
}

.content-menu{
    display: flex;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    width: 90%;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.menu{
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5em;
    width: 30%;
}

.title{
    color: white;
    font-size: 2.3em;
}

.signIn{
    color: white;
    background: none;
    font-size: 1.3em;
    padding-left: 1.5em;
    height: 2.5em;
    padding-right: 1.5em;
    border: none;
}

.logIn{
    color: white;
    font-size: 1.3em;
    border-radius: 50px;
    padding-left: 1.5em;
    border: 2px solid rgba(36,191,184,1);
    height: 2.5em;
    padding-right: 1.5em;
    background: none;
}

.buttons-menu{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.big-title{
    text-align: center;
    color: white;
    font-size: 6em;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
}

.subtitle{
    color: lightgrey;
    margin-top: -1%;
    width: 50%;
    font-size: 1.8em;
    text-align: center;
    margin-left: 25%;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.button-header{
    color: white;
    font-size: 1.5em;
    border-radius: 50px;
    background: rgb(82, 9, 121);
    border: none;
    width: 10%;
    height: 2.5em;
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.pictures{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: -10%;
    align-items: end;
}

.pic-1{
    height: 37em;
    width: 25em;
    object-fit: cover;
    border-radius: 1.5em;
}

.pic-2{
    height: 27em;
    width: 52em;
    margin-top: 13%;
    object-fit: cover;
    border-radius: 1.5em;
    object-position: top;
}

.special-color{
    background: linear-gradient(112deg, rgba(0,212,255,1) 0%, rgba(36,191,184,1) 26%, rgba(146,142,213,1) 51%, rgba(133,115,194,1) 61%, rgba(98,41,143,1) 93%, rgba(90,25,132,1) 100%, rgba(82,9,121,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.icon{
    width: 10em;
    text-align: center;
    margin-top: 10%;
}


/**************************PARTNERS*************************/
.content-partners{
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    color: dimgrey;
    width: 90%;
    margin-left: 5%;
    font-weight: 800;
    margin-top: 5%;
}

/**************************Solution*************************/

.content-advantage{
    margin-top: 5%;
    width: 90%;
    border-radius: 3em;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    /* height: 30em; */
    font-family: 'Roboto', sans-serif;
}

.pic-advantage{
    height: 35em;
    width: 40em;
    object-fit: cover;
    margin-left: 10%;
    border-radius: 1.5em;
}

.title-advantage{
    color: white;
    margin-left: 5%;
    font-size: 2.7em;
    margin-bottom: 5%;
}

.block-ad-1{
    background: rgba(0,212,255,1) 0%;
    height: 15em;
    width: 20em;
    border-radius: 1.5em;
    margin-left: 5%;
}

.block-ad-2{
    background: rgba(82,9,121,1) 100%;
    height: 15em;
    width: 20em;
    margin-top: 5em;
    border-radius: 1.5em;
    margin-left: 5%;
}

.content-block-adv {
    align-items: end;
    display: flex;
    justify-content: space-between;
}

.content-colored-block{
    margin-left: 10em;
}

.text-blue{
    margin-top: 0;
    color: white;
    padding-top: 25%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 800;
    font-size: 1.2em;
}

.title-solution{
    color: white;
    font-size: 3em;
    margin-top: 0;
}

.big-title-solution{
    color: white;
    font-size: 1.5em;
    text-align: left;
    width: 30%;
    font-weight: 100;
}

.block-solution-1{
    width: 30em;
    height: 16em;
    border-radius: 2em;
    margin-top: 3%;
    padding-left: 2%;
    background: rgba(146,142,213,1);
}

.block-solution-2{
    background: rgba(98,41,143,1);
    height: 16em;
    border-radius: 2em;
    width: 30em;
}

.block-solution-3{
    width: 30em;
    height: 16em;
    border-radius: 2em;
    margin-top: 3%;
    background: rgba(36,191,184,1);
}

.block-solution-4{
    width: 30em;
    height: 16em;
    border-radius: 2em;
    margin-top: 3%;
    background: rgba(146,142,213,1);
}

.title-block-solution{
    color: white;
    font-size: 2.5em;
    margin-bottom: 0;
    padding-top: 10%;
    margin-top: 0;
    text-align: center;
}

.small-text-block-solution{
    color: white;
    font-size: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
}

.content-text-solution{

}

.small-text-block-solution{
    text-align: center;
}

.text-center{
    text-align: center;
}
/************************MEETINGS****************************/

.section-meeting{
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
}

.meeting{

}
.title-meetings{
    color: white;
    margin-left: 5%;
    font-size: 2.7em;
    margin-bottom: 3%;
}

.title-meeting-end{
    margin-right: 5%;
    font-size: 1.5em;
    margin-bottom: 3%;
    color: rgba(36,191,184,1);
    align-self: flex-end;
}

.subtitle-meeting{
    color: white;
    margin-left: 5%;
    width: 60%;
    font-size: 1.5em;
}

.block-m{
    width: 100%;
    justify-content: space-between;
    margin-top: -1%;
    opacity: 11;
    background-color: #27242D;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1em;
    border-radius: 0 0 1em 1em;
    padding-top: 1em;
}

.m{
    height: 15em;
    object-fit: cover;
    width: 23.5em;
}

.content-arrow{
    align-self: center;
    margin-left: 5%;
}

.btn-arrow{
    background: none;
    border: none;
}

.arrow{
    width: 8em;
}
.title-meeting{
    font-size: 1.5em;
    margin-left: 5%;
    color: white;
}

.text-meeting{
    margin-left: 5%;
    margin-top: -3%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.3em;
    padding-right: 7%;
}

.meeting-date{
    color: rgba(36,191,184,1);
    font-weight: 800;
    margin-left: 5%;
    letter-spacing: 2px;
    margin-top: 10%;
}

.content-m{
    justify-content: space-between;
    display: flex;
    width: 95%;
    margin-left: 5%;
    margin-top: 5%;

}

.tags-meeting{
    display: flex;
    margin-top: 3%;
    width: 30%;
    margin-left: 5%;
}

.tag{
    margin-right: 5%;
    font-size: 1.5em;
    color: white;
    border: 2px solid rgba(36,191,184,1);
    padding: 0.5em;
    font-weight: bold;
    border-radius: 3em;
    padding-left: 1em;
    padding-right: 1em;
}


/************************Speaker****************************/

.title-speaker{
    color: white;
    margin-left: 5%;
    font-size: 2.7em;
    margin-bottom: 3%;
}

/************************FAQ****************************/

.title-faq{
    color: white;
    margin-left: 5%;
    font-size: 2.7em;
    margin-bottom: 3%;
}

.option-1{
    width: 35em;
    height: 45em;
    background: ghostwhite;
}

.option-2{
    width: 35em;
    height: 45em;
    background: ghostwhite;
}

.content-options{
    justify-content: space-between;
    display: flex;
    width: 80%;
    margin-left: 10%;
}


/************************Footer****************************/

.section-footer{
    text-align: left;
    color: white;
    width: 80%;
    margin-left: 0%;
    margin-top: 10%;
}

.meeting-btn{
    margin-left: 5%;
    color: white;
    font-size: 1.5em;
    border-radius: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: rgba(36,191,184,1);
    border: none;
    width: 10%;
    height: 2.5em;
    margin-bottom: 3%;
    margin-top: 5%;
}

.title-header{
    color: white;
    font-size: 4.5em;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
}

.subtitle-footer{
    color: white;
    width: 60%;
    font-size: 1.5em;
}

.start-advanture-btn{
    color: white;
    font-size: 1.5em;
    border-radius: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: rgb(82, 9, 121);
    border: none;
    height: 2.5em;
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.colonne {
    width: 25%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.colonne h3 {
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 20%;
}

.colonne ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.colonne ul li {
    margin-bottom: 10%;
    font-size: 1.4em;
}

.colonne ul li a {
    color: white;
    text-decoration: none;
}

.colonne ul li a:hover {
    text-decoration: underline;
}

.footer{
    border-top: 2px solid white;
    width: 100%;
    margin-left: 10%;
}

/************************Concept****************************/

.section-concept{
    background-color: #3F3755;
    margin-left: 5%;
    border-radius: 1.5em;
    width: 90%;
    padding-top: 4%;
    padding-bottom: 5%;
}

.searchbar{
    width: 94%;
    border-radius: 1em 1em 0 0;
    height: 2em;
    position: relative;
    object-fit: revert;
}

.meeting{
    width: 90%;
    height: 30em;
    object-fit: cover;
    border-radius: 1em;
    margin-top: -3%;
    object-position: top;
}

.block-text-meeting{
    align-self: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.3em;
    width: 55%;
}

.block-img-meeting{
    width: 70%;
    align-self: center;
}

.title-concept{
    color: rgba(36,191,184,1);
    font-weight: 600;
    font-size: 2em;
}

.text-concept{
    color: white;
    letter-spacing: 2px
}

.number-mt{
    color: rgba(36,191,184,1);
}

.btn-concept{
    color: rgba(36,191,184,1);
    font-size: 1.3em;
    border-radius: 50px;
    border: 3px solid rgba(36,191,184,1);
    background: none;
    height: 2em;
    margin-bottom: 3%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.second-m{
    margin-top: 1em;
}

.block-m{
    width: 90%;
}

.ml1{
    margin-right: 1em;
}

.block-img-m{

}

.tag-meeting{
    color: white;
    border-radius: 2em;
    background: #27242D;
    padding-left: 2%;
    padding-right: 2%;
    width: 5%;
    margin-top: -3%;
    position: absolute;
    margin-left: 2%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.drow{
    margin-left: -5%;
    width: 20em;
    margin-top: 5%;
}

.block-card{
    margin-right: 5%;
    background-color: rgba(39, 36, 45, 0.5);
    border-radius: 1.5em;
}

.meeting-img{
    width: 100%;
    object-fit: cover;
    height: 15em;
}

.input-group {
    display: flex;
    align-items: center;
    margin-left: 35%;
}

.input {
    min-height: 50px;
    padding: 0 1rem;
    color: #444;
    font-size: 1.3em;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: white;
    width: 25%;
}

.button--submit {
    min-height: 50px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: rgb(82, 9, 121);
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    width: 15%;
    text-align: center;
}

.button--submit:hover {
    background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
}

.title-solution{
    color: white;
    font-size: 2.7em;
    margin-bottom: 3%;
}