*{
    font-family: 'GilroyBold', sans-serif;
}

.color-orange{
    color: #FFCD3B;
}

.dark-orange {
    color: #FFB325;
}
.color-black{
    color: #271350 !important;
}

.pink-color{
    color: #f943b1;
}

.violet-color{
    color: #9A41FF !important;
}

.blue-color{
    color: #64FFF5;
}

.red-color{
    color: #FF7569;
}

.white-color{
    color: white !important;
}

.grey-color{
    color: #7C7C7C;
}

.dark-grey{
    color : #82898F;
}

.green-color{
    color: #67b567;
}

.dark-green{
    color: #009D15;
}

.light-green{
    color: #33D653
 }

.light-blue{
    color: #00D7ED;
}

.dark-blue{
    color: #564FFF;
}

.blue-color-o{
    color:  #83b4c5
}

.bold{
    font-family: 'GilroyBold', sans-serif;
    font-weight: 100;
}

.w-30{
    width: 35%;
}

.m-l-0{
    margin-left: 0 !important;
}

.content-img-header{
    width: 30%;
}
/**************************FONT****************************/
@font-face {
    font-family: 'GilroyLight';
    src: url('../Radomir Tinkov - Gilroy-Light.otf') format('opentype');
}

@font-face {
    font-family: 'GilroyBold';
    src: url('../Gilroy-Bold.woff') format('opentype');
}

.active-home {
    background-color: red;
    color: green;
}

.small-title-offers{
    color: #b6bcc3;
}
.section{
    height: 100vh;
}
.justify-content-between{
    justify-content: space-between !important;
}

.btn{
    background: none;
}

.btn:hover{
    background: none;
}

.btn-menu-subscribe-h{
    background: #FFCD3B;
    width: 200px !important;
    height: 3em;
    font-size: 20px;
    border-radius: 4em;
    color: #271350;
}

.btn-menu-subscribe-i{
    background: #9A41FF;
    color: white;
    width: 200px !important;
    height: 3em;
    font-size: 20px;
    border-radius: 4em;
}

.btn-menu-subscribe-c{
    background:  #FF7569;
    color: white;
    width: 200px !important;
    height: 3em;
    font-size: 20px;
    border-radius: 4em;
}

button::before, button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    transition: 0.5s ease;
}

button{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    z-index: 1;
}


button::before {
    top: -1em;
    left: -1em;
}

button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

button:hover::before, button:hover::after {
    height: 410px;
    width: 410px;
}

button:hover {
    color: white;
    background: #271350;
}

button:active {
    filter: brightness(.8);
}



.w-100{
    width: 100%;
}

.m-t-10{
    margin-top: 10%;
}

.m-t-15{
    margin-top: 15%;
}

.m-t-5{
    margin-top: 5%;
}

.m-l-10{
    margin-left: 10%;
}

.m-b-O{
    margin-bottom: 0;
}

.header{
    background: linear-gradient(#FFE394 , white);
}

.subtitle-header{
    font-size: 20px;
    /* margin-left: 20%; */
    font-family: 'GilroyLight', sans-serif;
    margin-top: 0;
    color: #271350;
    line-height: 24px;
    font-weight: 600;
    width: 60%;
}

.fade {
opacity: 0;
transition: opacity 0.5s ease-in-out;
}

.fade.show {
opacity: 1;
}

.cookie{
width: 3em;
}

/*.mix-btn{*/
/*    width: 30%;*/
/*    height: 3em;*/
/*    border-radius: 4em;*/
/*    background: #FFF7E2;*/
/*    font-size: 25px;*/
/*    font-family: 'GilroyLight', sans-serif;*/
/*}*/

.button-container {
    display: flex;
    padding: 20px;
    text-align: center;
    margin-left: 35%;
}

.text-orders{
    text-align: left;
    margin-left: 10%;
    line-height: 0;
    align-self: center;
    margin-top: 5%;
    font-family: 'GilroyLight', sans-serif;
}

.mix-btn{
    position: relative;
    width: 370px !important;
    height: 3em;
    border-radius: 4em;
    font-size: 22px;
    border: none;
    transition: 0.3s;
}

.icon-btn-menu{
    width: 70px;
    margin-left: 3%;
    margin-right: 10%;
}

.icon-btn-menu-c{
    width: 70px;
    margin-left: 3%;
    margin-right: 0%;
}

.icon-btn-menu-i{
    width: 70px;
    margin-left: 3%;
}

.selected-button {
    background: #FFCD3B;
    z-index: 2;
    width: 350px !important;
    color: #271350;
    font-size: 22px;
    letter-spacing: 0px;
    align-items: center;
    display: flex;
}

.selected-button:hover {
    background: #271350;
    color: white;
}

.selected-button-c {
    background: #FF7569;
    z-index: 2;
    width: 350px !important;
    color: white;
    font-size: 22px;
    letter-spacing: 0px;
    align-items: center;
    display: flex;
}

.selected-button-i {
    background: #9A41FF;
    z-index: 2;
    width: 40Ftext0px !important;
    color: white;
    font-size: 22px;
    letter-spacing: 0px;
    align-items: center;
    display: flex;

}

.txt-solutions-c{
    text-align: center;
    font-size: 20px;
    font-family: 'GilroyLight', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 35px;
    margin-top: 0;
    color: #271350;
}

.txt-solutions{
    margin-left: 5%;
    text-align: left;
    font-size: 20px;
    font-family: 'GilroyLight', sans-serif;
    width: 50%;
    line-height: 35px;
    color: #271350;
}

.deselected-button {
    background: #FFF7E2;
    z-index: 1;

    .mix-btn1{
        left: -10%;
    }
}

.mix-btn-deselected {
    align-items: center;
    display: flex;
}

.tittle-offers-3{
    color: #9A41FF;
    font-size: 35px;
    margin-bottom: 0;
}

.tittle-offers-2{
    color: #00D7ED;
    font-size: 35px;
    margin-bottom: 0;
}

.tittle-offers-1{
    color: #33D653;
    font-size: 35px;
    margin-bottom: 0;
}

.menu-header-bg {
    /*background: linear-gradient(rgba(255, 205, 59, 0.6) -5%, white);*/
}


.speak{
    width: 400px;
    margin-top: 25%;
}

#cookiePopup{
position: fixed;
width: 25%;
text-align: center;
background: white;
padding: 2% 2% 2% 2%;
font-family: 'Monserrat', sans-serif;
letter-spacing: 1px;
font-weight: 100;
justify-content: flex-end !important;
bottom: 2%;
z-index: 5;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
margin-left: 2%;
border-radius: 0.8em;
}

.content-button-cookies{
justify-content: space-between;
}

.accept-cookie{
background:#FFEDB8;
padding: 2%;
margin-right: 10%;
width: 25%;
margin-top: 3%;
color: black;
}

.refuse-cookie{
background:#FFEDB8;
padding: 2%;
width: 25%;
margin-top: 3%;
color: black;
}


/****************************HEADER*********************************/

.App-header{
    margin-top: -2%;
    width: 100%;
}

.logo{
    width: 13em;
}

.content-menu-mobile{
    display: flex;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    width: 80%;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.menu{
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5em;
    width: 30%;
}

.title{
    color: black;
    font-size: 2.3em;
}

.join-us{
    background: none;
    font-size: 1.3em;
    padding-left: 1.5em;
    height: 2.5em;
    padding-right: 1.5em;
    border: none;
    color: #271350;
}

.join-us:hover{
    color: #FFCD3B;
    background: none;
}

.join-us-investors:hover{
    color: #9A41FF;
}

.join-us-consultant:hover{
    color: #FF7569;
}

.contact:hover{
    background: #FFCD3B;
    color: black;
}

.contact{
    color: black;
    font-size: 1.3em;
    border: 2px solid black;
    background: none;
    border-radius: 0.75em;
    padding: 0.7em 1.5em;
}

.buttons-menu{
    display: flex;
    justify-content: space-between;
}

.bg{
    border-radius: 1.875rem;
}

.small-txt-offers{
    font-size: 18px;
    font-family: 'GilroyLight', sans-serif;
    font-weight: bold;
    color: #271350;
}

.content-offers{
    margin-top: 10%;
}

.subtitle-offers{
    margin-left: 15%;
    font-size: 20px;
    font-family: 'GilroyLight', sans-serif;
    font-weight: 700;
}
.content-block-offers{
    justify-content: space-between;
    width: 70%;
    display: flex;
    margin-left: 15%;
    margin-top: 5%;
}

.block-tarif{
    width: 25em;
    border-radius: 30px;
    border: 4px solid #f1f4f8;
    height: 40em;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;

}

.yellow-check{
    width: 30px;
    object-fit: contain;
    padding-right: 5%;
}

.block-1{
    width: 5em;
    height: 5em;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 5%;
    background: #E4FFDC;
}

.block-2{
    width: 5em;
    height: 5em;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 5%;
    background: #B6FEFF;
}

.block-3{
    width: 5em;
    height: 5em;
    border-radius: 15px;
    margin-left: 5%;
    margin-top: 5%;
    background: #EFDCFF;
}

.content-community{
    width: 70%;
    margin-left: 15%;
    justify-content: space-between;
    padding-top: 3%;
    padding-bottom: 3%;
}

.text-com{
    width: 50%;
    align-self: center;
}

.section-community{
    background: #f1f4f8;
    margin-top: 8%;
}

.title-com{
    text-align: left;
    letter-spacing: 3px;
    font-size: 45px;
    color: #271350;
    width: 105%;
    margin-bottom: 0;
    margin-top: 0;
}

.txt-com{
    text-align: left;
    font-size: 20px;
    font-family: 'GilroyLight', sans-serif;
    line-height: 35px;
    font-weight: 800;
    color: #271350;
}

.content-img-com{
    width: 30%;
}

.pic-header{
    object-fit: contain;
    margin-left: -35%;
}

.content-offers-price{
    margin-left: 5%;
    text-align: left;
    line-height: 5px;
    margin-top: 2%;
}

.btn-com{
    background: #FFCD3B;
    color: #271350;
    letter-spacing: 0px;
    width: 370px !important;
    height: 3em;
    border-radius: 4em;
    font-size: 22px;
    border: none;
    margin-top: 5%;
}

.content-title-offers-block1{
    height: 3em;
    padding: 1em;
    width: 3em;
}

.content-title-offers-block2{
    height: 3em;
    background: #5AE8E8 ;
    padding: 1em;
    border-radius: 25px 25px 0 0;
}

.content-title-offers-block3{
    height: 3em;
    background: #B966FF;
    padding: 1em;
    border-radius: 25px 25px 0 0;
}

.title-offers{
    text-align: center;
    letter-spacing: 3px;
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 3%;
    color: #271350 !important;
}

.mini-title-offers{
    text-align: center;
    font-size: 20px;
    color: #FFCD3B;
}

.mini-title-solution{
    text-align: left;
    margin-left: 10%;
    margin-bottom: 0;
    font-size: 20px;
}

.bitmoji{
    width: 90px;
    margin-left: -20px;
    bottom: 0;
    margin-top: -18px;
}

.price{
    font-size: 22px;
    font-family: 'GilroyLight', sans-serif;
    font-weight: 700;
    color: #271350;
}

.text-offers{
    margin-left: 5%;
    align-self: center;
    margin-top: 5%;
    font-size: 20px;
    font-family: 'GilroyLight', sans-serif;
    margin-bottom: 0;
}

.subtitle{
    width: 60%;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 3%;
    font-family: 'GilroyLight', sans-serif;
    margin-left: 20%;
    color: #444;
}

.button-header{
    color: white;
    font-size: 1.5em;
    border-radius: 50px;
    background: rgb(82, 9, 121);
    border: none;
    width: 10%;
    height: 2.5em;
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.pictures{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: -10%;
    align-items: end;
}

.content-card-s{
    justify-content: space-between;
    width: 30%;
    margin-left: 35%;
    margin-top: 3%;
}

.card-s{
    width: 30%;
    height: auto;
    background: white;
    box-shadow: 0 0 10px #ffe7a0;
    border-radius: 13px;
}

.pic-s{
    width: 60%;
    padding-top: 10%;
    margin-left: 20%;
}

.p-s{
    text-align: center;
    margin-top: 0%;
    font-size: 18px;
    font-family: 'GilroyLight', sans-serif;
}

.pic{
    height: 22em;
    object-fit: cover;
}

.pic-1{
    margin-top: -50%;
    margin-left: -10%;
}

.pic-2{
    margin-top: -50%;
    margin-left: -20%;

}

.pic-4{
    margin-left: -25%;
}

.pic-3{
    margin-left: 30%;
}

.special-color{
    /*background: linear-gradient(112deg, rgba(0,212,255,1) 0%, rgba(36,191,184,1) 26%, rgba(146,142,213,1) 51%, rgba(133,115,194,1) 61%, rgba(98,41,143,1) 93%, rgba(90,25,132,1) 100%, rgba(82,9,121,1) 100%);*/
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    /*background-clip: text;*/
    color: black;
}

.icon{
    width: 10em;
    text-align: center;
    margin-top: 10%;
}

.content_solution{
    width: 76%;
    margin-left: 12%;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-family: inherit;
    font-size: 15px;
}
.learn-more-form{
    background: #FFCD3B;
    width: 14% !important;
    margin-left: 43% !important;
    margin-bottom: 5% !important;
    margin-top: 2%;
    height: 70px;
    border-radius: 40px;
    font-size: 20px;
}

button.learn-more {
    width: 10%;
    margin-left: 45%;
    margin-bottom: 3%;
    font-weight: 600;
    color: #382b22;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #FFE085;
    border: 2px solid #FFCD3B;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms ease-out;
    margin-top: 2%;
}

button.learn-more::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF1C8;
    border-radius: inherit;
    -webkit-box-shadow: 0 0 0 2px #FFCD3B, 0 0.625em 0 0 #FFF1C8;
    box-shadow: 0 0 0 2px #FFCD3B, 0 0.625em 0 0 #FFF1C8;
    -webkit-transform: translate3d(0, 0.75em, -1em);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
    background: #FFF1C8;
    -webkit-transform: translate(0, 0.25em);
    transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
    -webkit-box-shadow: 0 0 0 2px #FFCD3B, 0 0.5em 0 0 #FFF1C8;
    box-shadow: 0 0 0 2px #FFCD3B, 0 0.5em 0 0 #FFF1C8;
    -webkit-transform: translate3d(0, 0.5em, -1em);
    transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
    background: #FFF1C8;
    -webkit-transform: translate(0em, 0.75em);
    transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
    -webkit-box-shadow: 0 0 0 2px #FFCD3B, 0 0 #FFF1C8;
    box-shadow: 0 0 0 2px #FFCD3B, 0 0 #FFF1C8;
    -webkit-transform: translate3d(0, 0, -1em);
    transform: translate3d(0, 0, -1em);
}

/**************************PARTNERS*************************/
.content-solutions{
    font-size: 1.6em;
    color: black;
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    font-weight: 800;
    background: #FFF7DA;
    padding-top: 3%;
    padding-bottom: 3%;
}

.content-solutions-c{
    font-size: 1.6em;
    color: black;
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    font-weight: 800;
    background: #FFEEE7;
    padding-top: 3%;
    padding-bottom: 3%;
}

.hands{
    width: 250px;
}

.gift{
    object-fit: cover;
    z-index: 2;
    position: absolute;
    margin-left: 60%;
    margin-top: -6%;
}

.content-items{
    margin: 0 auto;
    justify-content: space-between;
    width: 90%;
}

.item{
    width: 30%;
    margin-top: 5%;
}

.content-subscribe{
    margin: 0 auto;
    padding: 5em;
    border-radius: 1.85em;
    margin-top: 10%;
    padding-top: 0;
}

.title-subscribe{
    color: #271350;
    font-weight: 800;
    text-align: center;
    padding-top: 0px;
    letter-spacing: 3px;
    font-size: 45px;
}

.title-hidden{
    font-family: 'Fuggles', cursive;
    color: #FFE599;
    font-size: 15em;
    z-index: -4;
    position: sticky;
    text-align: center;
    margin-top: 15%;
    margin-bottom: -25%;
    padding-top: 0%;
}

.input{
    width: 80%;
    margin-left: 10%;
    height: 3em;
    border-radius: 1em;
    border: 2px solid black;
}

.text-form{
    width: 55%;
    font-size: 1.3em;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 100;
    margin: 0 auto;
}

/**************************Solution*************************/

.content-advantages{
    width: 70%;
    height: 35em;
    background-color: white;
    transform-origin: center;
    margin-left: 15%;
    margin-top: 10%;
    padding-bottom: 2%;
    border-radius: 1.5em;
}

.title-advantages{
    font-size: 2.5em;
    text-align: left;
    padding-top: 6%;
    margin-left: 15%;
    font-family: 'GilroyLight', sans-serif;
}

.text-advantage{
    margin-left: 5%;
    font-size: 20px;
    font-family: 'GilroyLight', sans-serif;
    font-weight: 700;
}

.check{
    width: 2em;
    object-fit: contain;
}

.block-advantage{;
    margin-left: 15%;
    width: 70%;
}

.button-advantage{
    color: white;
    font-size: 1.5em;
    border-radius: 50px;
    background: rgb(82, 9, 121);
    border: none;
    width: 15%;
    height: 2.5em;
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.emoji-item{
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

.number{
    color: #FFCD3B;
    font-size: 2em;
}

.text-solution{
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 2%;
    font-weight: 100;
}
/**************************Solution*************************/
.pic_solution{
    width: 35em;
    border-radius: 40px;
    height: 35em;
    object-fit: cover;
}

.text-solution-right{
    margin-left: 10%;
    font-size: 20px;
    font-family: 'GilroyLight', sans-serif;
    font-weight: 700;
    width: 65%;
    line-height: 30px;
    color: #271350;;
}

.text-solution-left{
    font-size: 20px;
    font-family: 'GilroyLight', sans-serif;
    font-weight: 700;
    width: 65%;
    line-height: 30px;
    color: #271350;
}

.content-block-solution{
    align-self: center;
}

.content-advantage{
    height: 140em;
    transform-origin: center;
    margin-top: 10%;
    background: #f1f4f8;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.btn-cta-h{
    margin-top: 5%;
    background: #FFCD3B;
    z-index: 2;
    color: #271350;
    font-size: 22px;
    letter-spacing: 0px;
    align-items: center;
    position: relative;
    width: 370px !important;
    height: 3em;
    border-radius: 4em;
    font-size: 22px;
    border: none;
    transition: 0.3s;
}

.btn-cta-h:hover{
    background: #271350;
    color: white;
}

.btn-cta-end{
    background: #FFCD3B;
    color: #271350;
    letter-spacing: 0px;
    width: 270px !important;
    height: 3em;
    border-radius: 4em;
    font-size: 22px;
    border: none;
    margin-left: 5%;
    margin-top: 1%;
}

.btn-cta-end:hover{
    background: #271350;
    color: white;
}

.btn-offers:hover{
    background: #271350;
    color: white;
}

.btn-cta-end-c{
    background: #FF7569;
    color: white;
    letter-spacing: 0px;
    width: 270px !important;
    height: 3em;
    border-radius: 4em;
    font-size: 22px;
    border: none;
    margin-top: 1%;
}

.pic-advantage{
    height: 35em;
    width: 40em;
    object-fit: cover;
    margin-left: 10%;
    border-radius: 1.5em;
}

.title-advantage{
    color: white;
    margin-left: 5%;
    font-size: 2.7em;
    margin-bottom: 5%;
}

.block-ad-1{
    background: rgba(0,212,255,1) 0%;
    height: 15em;
    width: 20em;
    border-radius: 1.5em;
    margin-left: 5%;
}

.block-ad-2{
    background: rgba(82,9,121,1) 100%;
    height: 15em;
    width: 20em;
    margin-top: 5em;
    border-radius: 1.5em;
    margin-left: 5%;
}

.content-block-adv {
    align-items: end;
    justify-content: space-between;
}

.content-colored-block{
    margin-left: 10em;
}

.text-blue{
    margin-top: 0;
    color: white;
    padding-top: 25%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 800;
    font-size: 1.2em;
}

.title-solution{
    font-size: 3em;
    margin-top: 0;
}

.big-title-solution{
    align-self: center;
    letter-spacing: 3px;
    font-size: 45px;
    width: 85%;
    margin-left: 10%;
    margin-top: 2%;
    color: #271350;
}

.big-title-solution-left{
    margin-left: 0% !important;
}

.block-solution-1{
    width: 10em;
    height: 10em;
    border-radius: 2em;
    margin-top: 3%;
    background: rgba(36,191,184,1);
}

.block-solution-2{
    width: 10em;
    height: 10em;
    border-radius: 2em;
    margin-top: 3%;
    background: rgba(146,142,213,1);
}

.block-solution-3{
    width: 10em;
    height: 10em;
    border-radius: 2em;
    margin-top: 3%;
    background: rgba(0,212,255,1);
}

.block-solution-4{
    width: 10em;
    height: 10em;
    border-radius: 2em;
    margin-top: 3%;
    background: rgba(82,9,121,1) ;
}

.hr{
    width: 80%;
    color: #f1f4f8;
    border: 1px solid;
}

.title-block-solution{
    font-size: 2.5em;
    margin-bottom: 0;
    padding-top: 10%;
    margin-top: 0;
    text-align: center;
}

.small-text-block-solution{
    font-size: 1.5em;
    padding-left: 5%;
    padding-right: 5%;
}

.small-text-block-solution{
    text-align: center;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}
/************************MEETINGS****************************/

.section-meeting{
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
}



.meeting{

}
.title-meetings{
    color: white;
    margin-left: 5%;
    font-size: 2.7em;
    margin-bottom: 3%;
}

.title-meeting-end{
    margin-right: 5%;
    font-size: 1.5em;
    margin-bottom: 3%;
    color: rgba(36,191,184,1);
    align-self: flex-end;
}

.subtitle-meeting{
    color: white;
    margin-left: 5%;
    width: 60%;
    font-size: 1.5em;
}

.block-m{
    width: 100%;
    justify-content: space-between;
    margin-top: -1%;
    opacity: 11;
    background-color: #27242D;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1em;
    border-radius: 0 0 1em 1em;
    padding-top: 1em;
}

.m{
    height: 15em;
    object-fit: cover;
    width: 23.5em;
}

.content-arrow{
    align-self: center;
    margin-left: 5%;
}

.btn-arrow{
    background: none;
    border: none;
}

.arrow{
    width: 8em;
}
.title-meeting{
    font-size: 1.5em;
    margin-left: 5%;
    color: white;
}

.text-meeting{
    margin-left: 5%;
    margin-top: -3%;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.3em;
    padding-right: 7%;
}

.meeting-date{
    color: rgba(36,191,184,1);
    font-weight: 800;
    margin-left: 5%;
    letter-spacing: 2px;
    margin-top: 10%;
}

.content-m{
    justify-content: space-between;
    display: flex;
    width: 95%;
    margin-left: 5%;
    margin-top: 5%;

}

.tags-meeting{
    display: flex;
    margin-top: 3%;
    width: 30%;
    margin-left: 5%;
}

.tag{
    margin-right: 5%;
    font-size: 1.5em;
    color: white;
    border: 2px solid rgba(36,191,184,1);
    padding: 0.5em;
    font-weight: bold;
    border-radius: 3em;
    padding-left: 1em;
    padding-right: 1em;
}


/************************Speaker****************************/

.title-speaker{
    color: white;
    margin-left: 5%;
    font-size: 2.7em;
    margin-bottom: 3%;
}

/************************FAQ****************************/

.title-faq{
    color: white;
    margin-left: 5%;
    font-size: 2.7em;
    margin-bottom: 3%;
}

.option-1{
    width: 35em;
    height: 45em;
    background: ghostwhite;
}

.option-2{
    width: 35em;
    height: 45em;
    background: ghostwhite;
}

.content-options{
    justify-content: space-between;
    display: flex;
    width: 80%;
    margin-left: 10%;
}


/************************Footer****************************/

.section-footer{
    text-align: left;
    color: white;
}

.meeting-btn{
    margin-left: 5%;
    color: white;
    font-size: 1.5em;
    border-radius: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: rgba(36,191,184,1);
    border: none;
    width: 10%;
    height: 2.5em;
    margin-bottom: 3%;
    margin-top: 5%;
}

.title-header{
    color: white;
    font-size: 4.5em;
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 10%;
}

.subtitle-footer{
    color: white;
    width: 60%;
    font-size: 1.5em;
}

.start-advanture-btn{
    color: white;
    font-size: 1.5em;
    border-radius: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: rgb(82, 9, 121);
    border: none;
    height: 2.5em;
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.colonne {
    width: 25%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.colonne h3 {
    font-size: 1em;
    margin-bottom: 10px;
    margin-top: 20%;
}

.colonne ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.colonne ul li {
    margin-bottom: 10%;
    font-size: 1.4em;
}

.colonne ul li a {
    color: white;
    text-decoration: none;
}

.colonne ul li a:hover {
    text-decoration: underline;
}

.footer{
    border-top: 2px solid white;
    width: 100%;
    background: #271350;
    margin-top: -3%;
    padding-bottom: 3%;
}

/************************Concept****************************/

.section-concept{
    width: 100%;
    margin-top: 8%;
}

.big-title-concept{
    font-size: 1.3em;
    font-weight: 100;
    padding-left: 0.8em;
    padding-top: 2em;
    padding-right: 0.8em;
    padding-bottom: 0.8em;
}

.emoji-item-concept{
    font-size: 1.8em;
    margin: auto;
    margin-top: 0.3em;
}

.emoji-item-concept-title{
    font-size: 1.6em;
    margin-left: 3%;
}

.emoji-item-form-subscribe{
    font-size: 5em;
    margin-top: 0;
}

.learn-more-concept{
    margin-top: 5% !important;
}

.searchbar{
    width: 50em;
    border-radius: 1em 1em 0 0;
    height: 2em;
    position: relative;
    object-fit: revert;
}

.meeting{
    width: 90%;
    height: 30em;
    object-fit: cover;
    border-radius: 1em;
    margin-top: -3%;
    object-position: top;
}

.emoji-item-form{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0;
}

.block-text-meeting{
    width: 70%;
    margin-left: 15%;
    /*background: linear-gradient(to bottom, #fffbef, #f1f4f8, #f1f4f8);*/
    display: flex !important;
    justify-content: space-between;
    margin-top: 4%;
}

.mini-text-concept{
    width: 215px;
    font-size: 18px;
    font-family: 'GilroyLight', sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    background: white;
    padding: 5%;
    border-radius: 20px;
    margin-top: -5%;
}

.pic-concept{
    width: 200px;
}

.block-concept{
    background: white;
    height: 14em;
    border-radius: 1.85em;
    border: 3px solid black;
    margin-top: 5% !important;
    margin: 0 auto;
    width: 40%;
}

.block-img-meeting{
    width: 70%;
    align-self: center;
}

.title-concept{
    color: black;
    font-weight: 600;
    font-size: 45px;
}

.text-concept{
    color: #271350;
    width: 56%;
    text-align: center;
    margin-left: 22%;
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 22px;
    font-family: 'GilroyLight', sans-serif;
    font-weight: 700;
    line-height: 35px;
}

.btn-cta-i{
    margin-top: 5%;
    background: #9A41FF;
    z-index: 2;
    color: white;
    font-size: 22px;
    letter-spacing: 0px;
    align-items: center;
    position: relative;
    width: 370px !important;
    height: 3em;
    border-radius: 4em;
    font-size: 22px;
    border: none;
    transition: 0.3s;
}

.content-adv-c{
    transform-origin: center;
    margin-top: 10%;
    background: #f1f4f8;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.btn-cta-c{
    margin-top: 5%;
    background: #FF7569;
    z-index: 2;
    color: white;
    font-size: 22px;
    letter-spacing: 0px;
    align-items: center;
    position: relative;
    width: 370px !important;
    height: 3em;
    border-radius: 4em;
    font-size: 22px;
    border: none;
    transition: 0.3s;
}

.content-adv-i{
/*background: #f1f4f8;*/
    /*padding-top: 5%;*/
    /*padding-bottom: 5%;*/
}

.number-mt{
    color: rgba(36,191,184,1);
}

.btn-concept{
    color: rgba(36,191,184,1);
    font-size: 1.3em;
    border-radius: 50px;
    border: 3px solid rgba(36,191,184,1);
    background: none;
    height: 2em;
    margin-bottom: 3%;
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.second-m{
    margin-top: 1em;
}

.block-m{
    width: 48em;
}

.ml1{
    margin-right: 1em;
}

.block-img-m{

}

.tag-meeting{
    color: white;
    border-radius: 2em;
    background: #27242D;
    padding-left: 2%;
    padding-right: 2%;
    width: 5%;
    margin-top: -3%;
    position: absolute;
    margin-left: 2%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.drow{
    margin-left: -4%;
    width: 20em;
    margin-top: 5%;
}

.block-card{
    margin-right: 5%;
    background-color: white;
    border-radius: 1.5em;
}

.meeting-img{
    width: 100%;
    object-fit: cover;
    height: 15em;
}

.input-group {
    display: flex;
    align-items: center;
    margin-left: 35%;
}

.success-img{
    height: 45em;
    width: 35em;
    object-fit: cover;
    border-radius: 1.875rem;
}

.input-contact {
    height: 5em;
    border: navajowhite;
    border-radius: 40px;
    margin-bottom: 0;
    padding-left: 3%;
    width: 27%;
    font-family: monospace;
    margin-top: 2em;
    margin: 0 auto;
    margin-top: 2%;
    box-shadow: 0 0 10px #ffe7a0;
}

.input-contact-select {
    border: 0;
    border-radius: 4em;
    margin-left: 35%;
    margin-bottom: -2em;
    padding-left: 2%;
    width: 30%;
    height: 5em;
    font-family: monospace;
    margin-top: 3%;
    background: white;
}

.valueStartupName{
    margin-top: 3.8em;
}

.input-description{
    border: 3px solid black;
    border-radius: 1.5em;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-top: 5%;
    width: 80%;
    height: 8em;
    margin-top: 2em;
}

.form{
    width: 100%;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 83%;
    height: 5em;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 1.5em;
    background: url("assets/arrow.png") no-repeat right center;
}

.button--submit {
    min-height: 50px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: rgb(82, 9, 121);
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    width: 15%;
    text-align: center;
}

.button--submit:hover {
    background-color: #5e5dcd;
}

.input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
}

.title-solution{
    font-size: 35px;
    margin-bottom: 3%;
    font-family: 'Rowdies', cursive;
}

/************* VISIO *************/

.content-visio{
    width: 90%;
    margin-left: 5%;
    margin-top: 15%;
}

.viso-img{
    width: 45%;
    border-radius: 1.5em;
    border: 3px solid black;
    margin-left: 5%;
}

.title-step{
    margin-left: 5%;
    text-align: left;
    letter-spacing: 3px;
    font-size: 45px;
    color: #271350;
    width: 105%;
    margin-bottom: 0;
    margin-top: 0;
}

.title-step-c{
    text-align: center;
    letter-spacing: 3px;
    font-size: 45px;
    color: black;
    margin-bottom: 0;
    margin-top: 0;
}


.subtitle-step{
    width: 70%;
    margin-left: 10%;
    font-size: 22px;
    text-align: left;
    font-family: 'GilroyLight', sans-serif;
    margin-top: 5%;
}

.align-baseline{
   align-items: flex-start !important;
}

.join-footer{
    text-align: center;
    margin-top: 5%;
    font-size: 3.2em;
    width: 40%;
    margin-left: 30%;
}

.btn-footer{
    border: 3px solid white;
    width: 15%;
    background: black;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    position: relative;
    overflow: hidden;
    padding-bottom: 0.8em;
    border-radius: 0.75em;
    margin-top: 2%;
}

.menu-burger{
    display: none;
}

.btn-footer:hover{
    background: white;
    color: black;
}

a{
    color: white;
    text-decoration: none;
}

.emoji-item-footer{
    font-size: 1.5em;
}

.black-logo{
    width: 12em;
}

.block-footer{
    margin-left: 5%;
    color: white;
    font-size: 15px;
}

.btn-footer{
    margin-top: 0;
}

.join-footer{
    text-align: center;
    margin-top: 3%;
    font-size: 3.2em;
    width: 40%;
    margin-left: 30%;
}

.pitchersales{
    margin-left: 0.5em;
    font-weight: 100;
    font-size: 14px;
}

#step{
    border-radius: 40px;
}


/*#navLinks {*/
/*    background-color: white;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 30vh;*/
/*    width: 100%;*/
/*    transform: translateX(-100%);*/
/*    transition: transform 0.5s ease-in-out;*/
/*    padding-top: 10%;*/
/*    border-bottom: 5px solid black;*/
/*}*/

#navLinks {
    background-color: white;
    position: absolute;
    top: -100vh;
    left: 0;
    right: 0;
    height: 35vh;
    border-bottom: 5px solid black;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.5s ease-in-out;
}

#navLinks.open {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.content-headband {
    width: 100%;
    margin-top: 8%;
    text-align: center;
    font-size: 30px;
    background: #271350;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: 'GilroyLight', sans-serif !important;
    font-weight: 300;
}

.content-headband-c {
    width: 100%;
    margin-top: 8%;
    text-align: center;
    font-size: 30px;
    background: #271350;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-family: 'GilroyLight', sans-serif !important;
    font-weight: 300;
}>

.cookie-image{
    width: 55px;
 }
 .text {
     font-size: 35px;
     font-family: 'Rowdies', cursive;
     color: #FFCD3B;
     align-self: center;
 }

@media screen and (min-width: 768px) {
    .d-flex-desktop {
        display: flex !important;
    }

    .success {
        border-radius: 1.5em;
        border: black 4px solid;
        height: 30em;
        object-fit: cover;
        width: 32em;
    }



    @keyframes scrollText {
        0% {
            transform: translateX(100%); /* Démarre du côté droit */
        }
        100% {
            transform: translateX(-100%); /* Termine du côté gauche */
        }
    }
}

.desktop-only {
    display: block;
}

.mobile-only {
    display: none;
}

.content-menu-desktop{
    align-items: center;
    justify-content: space-between;
    margin-left: 15%;
    width: 70%;
    margin-top: 3%;
}


@media only screen and (min-width: 769px) and (max-width: 1023px){
    .d-flex{
        display: flex !important;
    }

    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .logo{
        width: 9em;
        margin-top: 2em;
    }

    #cookiePopup{
        width: 88%;
        padding: 4% 2% 4% 2%;
        margin-left: 4%;
        bottom: 0%;
    }

    .mobile-only{
        display: block;
    }

    .desktop-only{
        display: none;
    }

    .join-us{
        margin-top: 15%;
    }

    .menu-burger{
        display: block;
        width: 30px;
        object-fit: contain;
        position: absolute;
        transition: opacity 0.10s ease-in-out;
    }

    .buttons-menu{
        font-size: 0.6em;
    }

    .pictures{
        margin-top: 0;
    }

    .content-menu-mobile{
        margin-top: 0%;
        justify-content: space-between;
        width: 85%;
        align-items: center;
        z-index: 2000;
        position: relative;
    }

    .contact{
        padding: 0.6em 2em;
        margin-top: 10%;
        font-size: 1.3em !important;
    }

    .big-title{
        font-size: 1.7em;
        margin-top: 10%;
        width: 96%;
        margin-left: 2%;
    }

    .btn-form{
        width: 40% !important;
        font-size: 0.8em;
        margin-left: 30% !important;
    }

    .section-concept{
        padding-bottom: 15%;
    }

    .subtitle{
        width: 90%;
        margin: 0 auto;
        font-size: 1em;
    }

    button.learn-more{
        width: 30%;
        margin: 0 auto;
        font-size: 0.8em;
        margin-left: 35%;
        margin-top: 5%;
        text-align: center;
        padding: 1em;
    }

    .pic-1{
        height: 23em;
    }

    .pic-2{
        width: 10em;
        height: 5em;
        border: black 2px solid;
        border-radius: 1em;
    }

    .title-concept{
        font-size: 25px;
    }

    .text-concept{
        font-size: 16px;
        width: 100%;
        margin: 0 auto;
        font-weight: bold;
    }

    .big-title-concept{
        width: 90%;
        font-size: 16px;
    }

    .block-concept{
        width: 100%;
        margin: 0 auto;
        font-size: 1em;
        height: 13em;
        margin-top: 10% !important;
    }

    .title-subscribe{
        font-size: 25px;
        text-align: center;
        width: 100%;
    }

    .emoji-item-form-subscribe{
        display: none;
    }

    .emoji-item{
        font-size: 2em;
    }

    .title-step{
        font-size: 25px;
        width: 92%;
        margin-left: 4%;
    }

    .subtitle-step{
        width: 70%;
        margin-left: 5%;
        font-size: 22px;
        text-align: left;
        font-family: 'GilroyLight', sans-serif;
        margin-top: 5%;
    }

    .item{
        width: 100%;
        font-size: 0.9em;
    }

    .content-subscribe{
        width: 75%;
        padding: 2em;
    }

    .margin-item-form{
        font-size: 3em;
        margin-left: 40%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .text-form{
        width: 90%;
        font-size: 1em;
        margin: 0 auto;
    }

    .form{
        margin-top: 10%;
        width: 100%;
    }

    .join-footer{
        width: 90%;
        font-size: 25px;
        margin: 0 auto;
        margin-top: 15%;
    }

    .btn-footer{
        width: 50%;
        margin: 0 auto;
        margin-top: 15%;
        font-size: 17px;
    }

    .block-footer{
        margin-left: 5%;
        font-size: 10px;
        margin-top: 10%;
    }

    .footer{
        height: 30em;
    }
}

html {
    scroll-behavior: smooth;
}

/*Tablette vertical*/

@media only screen and (min-width: 500px) and (max-width: 768px) {
    .content-menu-mobile{
        margin-top: 0;
    }

    .big-title{
        font-size: 2.5em;
        margin-top: 10%;
        text-align: center;
        width: 90%;
    }

    .pic-2{
        width: 14em;
        height: 10em;
        border: black 2px solid;
        border-radius: 1em;
    }

    .pic-1{
        width: 7em;
        height: 15em;
        border: black 2px solid;
        border-radius: 1em;
    }

    .big-title-concept{
        font-size: 16px;
        padding: 5%;
    }

    .block-concept{
        width: 80%;
        height: 12em;
    }

    .item{
        width: 60%;
        text-align: center;
        margin-left: 20%;
    }

    .footer{
        height: 35em;
    }

    #navLinks{
        background-color: white;
        position: absolute;
        top: -100vh;
        left: 0;
        right: 0;
        height: 25vh;
        border-bottom: 5px solid black;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out, visibility 0.5s ease-in-out;
        display: grid;
    }

    .contact{
        margin-top: -5%;
    }

    .join-us{
        margin-top: 10%;
    }
}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    .pic-1{
        width: 11em;
        height: 20em;
    }

    .pic-2{
        height: 14em;
        width: 20em;
    }

    .big-title{
        font-size: 3.5em;
    }

    button.learn-more{
        width: 20%;
        margin-left: 40%;
    }

    .subtitle {
        width: 70%;
        font-size: 1.5em;
        text-align: center;
        margin-left: 15%;
        letter-spacing: 1px;
        margin-top: 2%;
        font-weight: 100;
    }

    .block-concept{
        background: white;
        height: 20em;
        border-radius: 1.85em;
        border: 3px solid black;
        margin-top: 5% !important;
        margin: 0 auto;
        width: 45%;
    }

    .content-button-cookies{
        justify-content: space-around;
    }

    .content-subscribe{
        width: 70%;
    }

    .title-step{
        width: 90%;
        margin-left: 5%;
    }

    .subtitle-step{
        width: 70%;
        margin-left: 15%;
    }

    .join-footer{
        text-align: center;
        margin-top: 10%;
        font-size: 3.2em;
        width: 80%;
        margin-left: 10%;
    }

    .btn-footer{
        border: 3px solid white;
        width: 30%;
        background: black;
        color: white;
        text-decoration: none;
        font-size: 1.3em;
        position: relative;
        overflow: hidden;
        padding-bottom: 0.8em;
        border-radius: 0.75em;
        margin-top: 2%;
        margin-left: 35%;
    }

    #cookiePopup{
        position: fixed;
        width: 90%;
        text-align: center;
        background: white;
        padding: 2% 2% 2% 2%;
        font-family: 'Monserrat', sans-serif;
        letter-spacing: 1px;
        font-weight: 100;
        justify-content: flex-end !important;
        bottom: 0%;
        z-index: 5;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-left: 3%;
        border-radius: 0.8em;
    }
}

.section-subscribe{
    background: linear-gradient(white 0%, rgba(255, 205, 59, 0.6) 95%);
}

.content-header-Investors{
    background: linear-gradient(rgba(230, 204, 255, 0.6) -21%,white 95%);
    height: 66vh;
    margin-top: -15%;
    align-items: center;
    padding-top: 15%;
    width: 70%;
    padding-right: 15%;
    padding-left: 15%;
    justify-content: space-between;
}

.content-header-Consultant{
    background: linear-gradient(rgba(224, 122, 122, 0.6) -21%,white 95%);
    height: 66vh;
    margin-top: -15%;
    align-items: center;
    padding-top: 15%;
    padding-right: 15%;
    padding-left: 15%;
    justify-content: space-between;
}

.content-header-home{
    background: linear-gradient(rgba(255, 205, 59, 0.6) -21%,white 95%);
    height: 66vh;
    margin-top: -15%;
    align-items: center;
    padding-top: 15%;
    padding-right: 15%;
    padding-left: 15%;
    justify-content: space-between;
}

.big-title-investors{
    font-size: 3.5em;
    text-align: left;
    font-weight: bold;
    width: 90%;
    line-height: 80px;
    margin-bottom: 3%;
    color: #271350;;
}

.screen{
    margin-left: -50%;
    width: 770px;
}

.buttons-investors{
    width: 100%;
    display: flex;
    margin-top: 5%;
}

.block-i{
    width: 38em;
    height: 40em;
    margin: 0 auto;
    margin-top: 2%;
    border-radius: 1.875rem;
}

.content-block-i{
    width: 70%;
    margin: 0 auto;
}

.title-H{
    text-align: center;
    font-size: 3em;
    margin-top: 10%;
}

.block-i-1{
    background: linear-gradient(#DDAEFF -21%,#D7C0FF 95%);
}

.block-i-2{
    background: linear-gradient(white -21%, #DFDFDF 95%);
    /*background: linear-gradient(#FFD37A -21%,#FFFBDF 95%);*/
}

.block-i-3{
    background: linear-gradient(#FFC5E6 -21%,#F9E0FF 95%);
}

.block-i-4{
    background: linear-gradient(#688AFF -21%, #C4D1FF 95%);
}

.block-i-5{
    background: linear-gradient(#FFD37A -21%,#FFFBDF 95%);
}

.block-i-6{
    background: linear-gradient(#FFD37A -21%,#FFFBDF 95%);
}

.content-block-H{
    margin: 0 auto;
    justify-content: space-between;
    width: 70%;
    margin-top: 5%;
}

.small-title-w{
    width: 80%;
    margin-left: 10%;
    font-family: 'GilroyLight', sans-serif;
    font-weight: 700 !important;
    margin-top: 0;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #271350;
}

.pic-todo{
    width: 40%;
    margin-top: 10%;
    text-align: center;
    margin-left: 30%;
}

.txt-w{
    font-size: 25px;
    padding-top: 10%;
    margin-top: 0;
    font-family: 'GilroyBold', sans-serif;
    width: 76%;
    margin-left: 12%;
    margin-bottom: 5%;
    font-weight: 100;
    text-align: center;
    color: #271350;
}

.block-H{
    width: 25em;
    height: 40em;
    border-radius: 1.875rem;
}

.block-H-1{
    background: #FFF9E5;
}

.block-H-2{
    background: linear-gradient(#FFD37A -21%,#FFFBDF 95%);
}

.block-H-3{
    background: #FFDF73;
}

.text-i-1{
    color: white;
    font-size: 42px;
    padding-top: 15%;
    padding-left: 5%;
    margin-top: 0;
    font-family: 'GilroyBold', sans-serif;
    width: 85%;
}

.img-i{
    width: 60%;
}

.img-i-t{
    width: 35%;
}

.img-i-p{
    width: 35%;
    margin-top: 5%;
}

.img-i-b{
    width: 45%;
}

.img-i-j{
    width: 35%;
    margin-top: 10%;
}

.img-i-4{
    width: 25%;
    margin-top: 10%;
}

.r1{
    width: 325px;
    margin-top: 10%;
}

.r3{
    width: 845px;
    margin-left: -25%;
    margin-top: -20%;
}

.selected-img {
    background: #f1f4f8;
    transition: 0.3s;
    height: 115px;
    width: 35%;
}

.card-s:hover{
    background: #f1f4f8;
    transition: 0.3s;
    height: 115px;
    width: 35%;
}

.input-contact:focus{
    border: 4px solid #f1f4f8;
    outline: none;
    transition: 0.3s;
}

.font-bold{
    font-weight: bold;
}

.btn-offers{
    background: #FFCD3B;
    color: #271350;
    letter-spacing: 0px;
    width: 320px !important;
    height: 3em;
    border-radius: 4em;
    font-size: 22px;
    border: none;
    margin-top: 5%;
}



/************************RESPONSIVE MOBILE******************************/

@media only screen and (max-width: 768px) {
    .d-flex-mobile{
        display: flex;
    }
    /***************HEADER**************/
    .content-header{
        margin-top: -25% !important;
        align-items: center;
        padding-top: 30%;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 auto;
    }

    .big-title{
        font-size: 35px;
        text-align: left;
        font-weight: bold;
        width: 100%;
        line-height: 47px;
        margin-bottom: 3%;
    }

    .screen{
        width: 350px;
        margin-left: 10%;
    }

    .content-img-header{
        grid-row: 1;
    }

    .icon-btn-menu{
        width: 70px;
        margin-left: 3%;
        margin-right: 5%;
    }

    .subtitle-header{
        font-size: 20px;
        font-family: 'GilroyLight', sans-serif;
        margin-top: 8%;
        color: #271350;;
        line-height: 24px;
        font-weight: 600;
        width: 95%;
    }

    .selected-button{
        width: 80% !important;
        color: #271350;;
        font-size: 20px;
        letter-spacing: 0px;
        align-items: center;
        display: flex;
        margin-top: 8%;
        margin-left: 10%;
    }

    .selected-button-i{
        width: 86% !important;
        font-size: 20px;
        letter-spacing: 0px;
        align-items: center;
        display: flex;
        margin-top: 8%;
        margin-left: 7%;
    }

    .selected-button-c{
        width: 96% !important;
        font-size: 22px;
        letter-spacing: 0px;
        align-items: center;
        display: flex;
        margin-top: 8%;
        margin-left: 2%;
    }

    /***************BANNER**************/

    .content-headband{
        margin-top: 50%;
        font-size: 18px;
        width: auto;
    }

    .content-headband-c{
        margin-top: 60%;
        font-size: 18px;
        width: auto;
    }

    .btn-cta-i{
        width: 70% !important;
    }

    /***************OFFERS**************/

    .title-offers{
        font-size: 30px;
        text-align: left;
        width: 85%;
        margin-left: 10%;
        color: #271350;
    }

    .btn-cta-c{
        width: 70% !important;
    }

    .text-concept{
        margin-left: 10%;
        text-align: left;
        line-height: 30px;
        width: 80%;
        font-size: 18px;
    }

    .block-text-meeting{
        flex-direction: column;
        width: auto;
        margin-left: 0;

    }


    .w-30{
        width: initial;
    }

    .small-title-w{
        width: 80%;
        margin-left: 10%;
        font-family: 'GilroyLight', sans-serif;
        font-weight: 700 !important;
        margin-top: 0;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 1px;
        color: #271350;
    }

    .img-i-t{
        width: 28%;
    }

    .pic-concept{
        width: 150px;
        margin-top: 10%;
    }

    .btn-cta-h{
        width: 70% !important;
    }

    .icon-btn-menu-i{
        margin-right: 0;
    }

    .icon-btn-menu{
        margin-right: 0;
    }

    .content-solutions-c{
        width: 90%;
        margin-left: 5%;
    }

        /***************CONCEPT**************/

    .pic_solution{
        width: 100%;
        border-radius: 40px;
        height: 17em;
        grid-row: 1;
    }

    .big-title-solution{
        margin-left: 0;
        font-size: 30px;
        width: 100%;
    }

    .text-solution-right{
        margin-left: 0;
        width: 100%;
        font-size: 20px;
        color: #271350;
    }

    .text-solution-left{
        width: 100%;
        color: #271350;
    }

    .content-solution-mobile{
        display: grid;
    }


    /***************ADVANTAGES**************/

    .block-i{
        width: 100%;
        height: 25em;
        margin-top: 5%;
    }

    .text-i-1{
        font-size: 29px;
    }

    .img-i{
        width: 60%;
    }

    .content-block-i{
        width: 90%;
        margin: 0 auto;
    }

    .content-advantage{
        padding-top: 10%;
        padding-bottom: 10%;
        height: auto;
        display: grid;
        width: 70%;
    }

    .content-solutions{
        width: 90%;
        margin-left: 5%;
    }

    /***************COMMUNITY**************/

    .content-community{
        width: 90%;
        margin-left: 5%;
    }

    .text-com{
        width: 80%;
        margin-left: 10%;
    }

    .title-com{
        font-size: 30px;
        text-align: left;
        width: 90%;
        margin-left: 0%;
        margin-top: 10%;
        color: #271350;
    }

    .pic-header{
        display: none;
    }

    .btn-com{
        width: 100% !important;
        margin-bottom: 10%;
    }

    .title-step{
        font-size: 30px;
        width: 90%;
        margin-left: 10%;
        margin-top: 10%;
    }

    .txt-solutions {
        margin-left: 10%;
        text-align: left;
        font-size: 20px;
        font-family: 'GilroyLight', sans-serif;
        width: 80%;
        color: #271350;

    }

    .gift{
        display: none;
    }

    .content-block-offers{
        flex-direction: column;
        margin-left: 0;
        width: auto;
    }

    .block-tarif{
        width: 90%;
        border-radius: 30px;
        border: 4px solid #f1f4f8;
        box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
        margin-left: 5%;
        margin-top: 10%;
        padding-top: 5%;
        padding-bottom: 30%;
    }

    .title-step-c{
        text-align: left;
        letter-spacing: 3px;
        font-size: 28px;
        color: #271350;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 10%;
        padding-top: 10%;
    }

    .txt-solutions-c {
        text-align: left;
    }

    .btn-cta-end{
        background: #FFCD3B;
        color: black;
        letter-spacing: 0px;
        width: 80% !important;
        height: 3em;
        border-radius: 4em;
        font-size: 22px;
        border: none;
        margin-left: 10%;
        margin-top: 1%;
        margin-bottom: 10%;
    }

    .btn-cta-end-c{
        letter-spacing: 0px;
        width: 60% !important;
        height: 3em;
        border-radius: 4em;
        font-size: 22px;
        border: none;
        margin-top: 1%;
        margin-bottom: 10%;
        margin-left: 0;
    }

    .tittle-offers-1{
        font-size: 28px;
    }

    .tittle-offers-2{
        font-size: 28px;
    }

    .tittle-offers-3{
        font-size: 28px;
    }

    .small-title-offers{
        line-height: 20px;
    }

    /***************COMMUNITY**************/

    .content-card-s{
        width: 120%;
        margin-left: -10%;
    }

    .pic-s{
        width: 75%;
        padding-top: 10%;
        margin-left: 15%;
    }

    .input-contact{
        margin-top: 7%;
        width: 110%;
        margin-left: -10%;
        padding-left: 10%;
    }

    .btn-form{
        width: 70% !important;
        margin-top: 8%;
        font-size: 20px;
        margin-left: 15% !important;
    }


}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes elastic {
    0% {
        transform: translateX(100%);
    }
    60% {
        transform: translateX(-5%);
    }
    80% {
        transform: translateX(3%);
    }
    100% {
        transform: translateX(0%);
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20em;
    z-index: 1000;
    background-color: white;
    overflow-y: auto;
    transform: translateY(-100%);
    transition: transform 0.6s;
    text-align: center;
    padding-top: 20%;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.mobile-menu.show-menu {
    transform: translateY(0);
    animation: slideDown 0.8s;
}

.mobile-menu-button {
    margin-bottom: 10px;
    margin-top: 7%;
    font-size: 20px;
    background: none;
    color: black;
}

.home-btn-menu-mobile{
    background: #FFCD3B;
    padding: 15px;
    border-radius: 40px;
}

.investors-btn-menu-mobile{
    background: #9A41FF;
    padding: 15px;
    border-radius: 40px;
    color: white;
}

.consultant-btn-menu-mobile{
    background: #FF7569;
    padding: 15px;
    border-radius: 40px;
    color: white;
}

/*.loader {*/
/*    display: none;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: rgba(0, 0, 0, 0.7);*/
/*    z-index: 9999;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*body.show-loader .loader {*/
/*    display: flex;*/
/*}*/
