/****************************HEADER*********************************/

.content-menu{
    display: flex;
    margin-top: 2%;
    align-items: center;
    text-align: center;
    width: 90%;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}
.menu{
    color: white;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 1.5em;
    width: 30%;
}

.title{
    color: white;
    font-size: 2.3em;
}

.signIn{
    color: white;
    background: none;
    font-size: 1.3em;
    padding-left: 1.5em;
    height: 2.5em;
    padding-right: 1.5em;
    border: none;
}

.logIn{
    color: white;
    font-size: 1.3em;
    border-radius: 50px;
    padding-left: 1.5em;
    border: 2px solid;
    height: 2.5em;
    padding-right: 1.5em;
    background: none;
}

.buttons-menu{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.big-title{
    text-align: center;
    color: white;
    font-size: 5em;
    width: 70%;
    margin-left: 15%;
    margin-top: 5%;
}

.subtitle{
    color: white;
    margin-top: 3%;
    width: 60%;
    font-size: 1.8em;
    text-align: center;
    font-weight: 100;
    margin-left: 20%;
}

.button-header{
    color: white;
    font-size: 1.5em;
    border-radius: 50px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    background: #5C88FF;
    border: none;
    width: 10%;
    height: 2.5em;
    margin-left: 45%;
    margin-bottom: 3%;
    margin-top: 1%;
}

.pictures{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: -7%;
    align-items: end;
}

.pic-1{
    height: 37em;
    width: 25em;
    object-fit: cover;
    border-radius: 1.5em;
}

.pic-2{
    height: 25em;
    width: 52em;
    margin-top: 13%;
    object-fit: cover;
    border-radius: 1.5em;
}

.special-color{
    background: linear-gradient(112deg, rgba(0,212,255,1) 0%, rgba(36,191,184,1) 26%, rgba(146,142,213,1) 51%, rgba(133,115,194,1) 61%, rgba(98,41,143,1) 93%, rgba(90,25,132,1) 100%, rgba(82,9,121,1) 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}